.table-wrapper {
	width: 100%;
	min-height: 0;
	max-height: 100%;
	display: flex;
	position: relative;
	flex-direction: column;

	.scroll-stop-propagation {
		width: 100%;
		min-height: 0;
		max-height: 100%;
		flex-shrink: 1;
		display: flex;
		position: relative;
		flex-direction: column;
		overflow: hidden;

		&.enable {
			overflow: auto;
			overscroll-behavior: contain;
			// === hidden scroll bar ===
			scrollbar-width: none !important;
			-ms-overflow-style: none !important;
			&::-webkit-scrollbar {
				display: none !important;
			}
			// === hidden scroll bar ===

			&::after {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				height: calc(100% + 1px);
				width: calc(100% + 1px);
				pointer-events: none;
				user-select: none;
				opacity: 0;
				z-index: -1;
			}

			.table {
				top: 0;
				left: 0;
				position: sticky;
			}
		}
	}

	.table {
		width: 100%;
		min-height: 0;
		max-height: 100%;
		flex-shrink: 1;
		display: flex;
		position: relative;
		flex-direction: column;
		overflow: hidden;
		box-sizing: border-box;
		background-color: var(--table-bg);
		font-size: var(--table-font-size);

		&.any-resize {
			cursor: ew-resize;
		}

		&.bordered {
			border-radius: var(--table-border-radius);
			border-top: var(--table-cell-border-width) solid var(--table-cell-border-color);
			border-left: var(--table-cell-border-width) solid var(--table-cell-border-color);
			border-right: var(--table-cell-border-width) solid var(--table-cell-border-color);
			border-bottom: var(--table-cell-border-width) solid var(--table-cell-border-color);
		}

		// bordered为false，但是显示border-bottom的情况
		&.no-bordered-and-show-border-bottom {
			border-bottom: var(--table-cell-border-width) solid var(--table-cell-border-color);
		}

		.table-body-wrapper {
			width: 100%;
			min-height: 0;
			flex-shrink: 1;
			display: flex;
			position: relative;
		}
	}
}
