.table-wrapper {
	width: 100%;
	min-height: 0;
	max-height: 100%;
	display: flex;
	position: relative;
	flex-direction: column;

	.table {
		width: 100%;
		min-height: 0;
		max-height: 100%;
		flex-shrink: 1;
		display: flex;
		position: relative;
		flex-direction: column;
		overflow: hidden;
		box-sizing: border-box;
		background-color: var(--table-bg);
		font-size: var(--table-font-size);

		&.any-resize {
			cursor: ew-resize;
		}

		&.bordered {
			border-radius: var(--table-border-radius);
			border-top: var(--table-cell-border-width) solid var(--table-cell-border-color);
			border-left: var(--table-cell-border-width) solid var(--table-cell-border-color);
			border-right: var(--table-cell-border-width) solid var(--table-cell-border-color);
			border-bottom: var(--table-cell-border-width) solid var(--table-cell-border-color);
		}

		// bordered为false，但是显示border-bottom的情况
		&.no-bordered-and-show-border-bottom {
			border-bottom: var(--table-cell-border-width) solid var(--table-cell-border-color);
		}

		.table-body-container {
			width: 100%;
			min-height: 0;
			flex-shrink: 1;
			display: flex;
			position: relative;
		}
	}
}
