.overlay {
	gap: 16px;
	display: flex;
	border-radius: 2;
	background-color: var(--table-bg);
	user-select: none;
	pointer-events: none;
	padding: 0 24px;
	z-index: 99999;
	min-width: 200px;
	white-space: nowrap;
	align-items: center;
	box-shadow: var(--table-overlay-box-shadow);

	.icon {
		flex-shrink: 0;
		transform: rotate(90deg);
	}
}
