.overlay {
	gap: 16px;
	display: flex;
	border-radius: 2;
	background-color: #fff;
	user-select: none;
	pointer-events: none;
	padding: 0 24px;
	z-index: 99999;
	min-width: 200px;
	white-space: nowrap;
	align-items: center;
	box-shadow:
		0 6px 16px 0 rgba(0, 0, 0, 0.08),
		0 3px 6px -4px rgba(0, 0, 0, 0.12),
		0 9px 28px 8px rgba(0, 0, 0, 0.05);

	.icon {
		flex-shrink: 0;
		transform: rotate(90deg);
	}
}
