.v-scrollbar {
	min-height: 0;
	flex-shrink: 0;
	position: relative;
	overflow-x: hidden;
	overflow-y: scroll;
	box-sizing: border-box;
	background-color: var(--table-bg);

	&.bordered {
		border-left: var(--table-cell-border-width) solid var(--table-cell-border-color);
	}

	.v-scrollbar-inner {
		position: relative;
	}
}

.v-scrollbar-absolute {
	height: 100%;
	position: relative;
	overflow-x: hidden;
	overflow-y: scroll;
	width: 17px;
	min-width: 17px;
	max-width: 17px;
	top: 0;
	right: 0;
	position: absolute;

	.v-scrollbar-absolute-inner {
		width: 17px;
		min-width: 17px;
		max-width: 17px;
		position: relative;
	}
}
